/* Стили для анимированного меню навигации */
.bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: transform 0.3s ease;
}

.bottom-navigation a {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
  padding: 5px;
  transition: transform 0.2s ease, color 0.2s ease;
  display: inline-flex;
  align-items: center;
  border-radius: 5px; /* Закругление углов */
  transition: background-color 0.2s ease, transform 0.2s ease, color 0.2s ease;
  position: relative; /* Добавляем позицию для псевдоэлементов */
}

/* Создаем псевдоэлементы для подсветки слева и справа */
.bottom-navigation .separator::before,
.bottom-navigation .separator::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #ddd;
  transition: background-color 0.2s ease;
}

/* Позиционируем псевдоэлемент слева */
.bottom-navigation .separator::before {
  left: -5px; /* Подсветка слева */
}

/* Позиционируем псевдоэлемент справа */
.bottom-navigation .separator::after {
  right: -5px; /* Подсветка справа */
}

.bottom-navigation a:hover {
  color: #fff;
  background-color: #0056b3;
  transform: translateY(-5px);
}

.bottom-navigation a:active {
  transform: translateY(0);
  background-color: #333;
}

.bottom-navigation a:hover .separator::before,
.bottom-navigation a:hover .separator::after,
.bottom-navigation a:active .separator::before,
.bottom-navigation a:active .separator::after {
  background-color: #333;
}
