<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/payment.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/menu.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Payment</title>
</head>

<body>
    <nav class="bottom-navigation">
        <div class="separator"></div> <!-- Разделитель -->
        <a href="home.html"><i class='bx bxs-home'></i></a>
        <div class="separator"></div> <!-- Разделитель -->
        <a href="manager.html"><i class='bx bxs-calculator'></i></a>
        <div class="separator"></div> <!-- Разделитель -->
        <a href="statistics.html"><i class='bx bxs-bar-chart-square'></i></a>
        <div class="separator"></div> <!-- Разделитель -->
        <a href="payment.html"><i class='bx bxs-wallet-alt'></i></a>
        <div class="separator"></div> <!-- Разделитель -->
        <a href="settings.html"><i class='bx bxs-cog'></i></a>
        <div class="separator"></div> <!-- Разделитель -->
    </nav>

    <style>
        body {
            background: #0056b3;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
    <div
        style='margin: auto; width: 400px; max-width: 95vw; font-family: "Helvetica Neue", Helvetica, sans-serif; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); padding: 10px; margin-top: 50px; margin-bottom: 50px; border-radius: 15px; background: #f9fcff;'>
        <h1 style="font-family: Arial, sans-serif; font-weight: 700; text-align: center">Сохранённые карты</h1>

        <div class="credit-card visa selectable">
            <div class="credit-card-last4">
                4242
            </div>
            <div class="credit-card-expiry">
                08/27
            </div>
        </div>

        <div class="credit-card visa1 selectable">
            <div class="credit-card-last4">
                5243
            </div>
            <div class="credit-card-expiry">
                09/25
            </div>
        </div>

        <div class="credit-card mastercard selectable">
            <div class="credit-card-last4">
                8210
            </div>
            <div class="credit-card-expiry">
                10/24
            </div>
        </div>

        <div class="credit-card mastercard1 selectable">
            <div class="credit-card-last4">
                6210
            </div>
            <div class="credit-card-expiry">
                11/24
            </div>
        </div>

        <div class="credit-card unionpay selectable">
            <div class="credit-card-last4">
                0005
            </div>
            <div class="credit-card-expiry">
                03/25
            </div>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/menu.css') }}">
</body>

</html>